

* {
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    background: black url('/img/bg.jpg') center center/cover no-repeat fixed;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  main h2 a:hover {
    text-decoration: underline;
  }

  #container-geral {
    margin: auto;
    min-width: 320px;
    max-width: 940px;
    height: 87.3vh;
    background: rgba(17, 17, 17, 0.938);
  }

  #conteudo-princi {
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
    height: auto;
    min-width: 320px;
    max-width: 670px;
    color: #fff;
  }

  #conteudo-princi h2 {
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    margin: -10px -10px 0 -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: rebeccapurple;
  }

  .caixa-jogos {
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
    padding: 10px;
    border-radius: 10px;
    background-color: grey;
    min-width: 320px;
    max-width: 610px;
    height: auto;
  }

  .caixa-jogos img {
    padding-top: 20px;
    display: block;
    margin: auto;
  }

  .data-postada {
    margin: -1px -10px 0 -10px;
    border-top: 2px solid rgba(0, 0, 0, 0.61);
    border-bottom: 2px solid rgba(0, 0, 0, 0.61);
    padding: 7px;
    font-family: Trebuchet MS;
    font-size: 12px;
  }

  .descricao {
    font-size: 14px;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    padding-top: 30px;
  }

  .descricao-texto {
    line-height: 1.2em;
    text-align: justify;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size: 14px;
  }

  #paragrafo-down {
    font-weight: bold;
    margin: -10px -10px 0 -10px;
    text-align: center; 
    border-top: 2px solid rgba(0, 0, 0, 0.479);
    border-bottom: 2px solid rgba(0, 0, 0, 0.479); 
    padding: 10px 0 10px; 
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif; 
    background-color: rebeccapurple
  }

  .container-download {
    margin-top: 50px;
  }

  .container-download p{
    text-align: justify;
    background-color: rgba(102, 51, 153, 0.918);
    display: table;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    width: 200px;
    font-size: 14px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
    margin: 10px;
    padding: 5px;
  }

  .container-download p a:hover {
    text-decoration: underline;

  }


  /*
  #lado-direito {
    padding: 10px;
    float: right;
    margin-top: 30px;
    width: 230px;
    height: 350px;
    background-color: grey;
    border-radius: 10px;
  }
  */

  footer {
    color: #777;
    background-color: #23232e;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 15px;
    text-align: center;
  }

  @media screen and (max-height: 972px) {
    #container-geral {
      height: auto;
    }
    
  }


  @media screen and (max-width: 476px){
    .caixa-jogos {
      margin-right: 30px;
      margin-bottom: 30px;
      box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
      padding: 10px 10px 60px;
      border-radius: 10px;
      background-color: grey;
      min-width: 320px;
      max-width: 610px;
    }
  }

  @media (max-width: 1186px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  